@model MVC_Entity_Tutorial.Models.Teacher
@{
    ViewBag.Title = "ShowTeacher";
}
<section>
    <h2>Show Teacher</h2>

    <table class="table table-striped">
        <tr>
            <th>
                Firstname
            </th>
            <th>
                Lastname
            </th>
        </tr>
        <tr>
            <td>
                @Model.Firstname
            </td>
            <td>
                @Model.Lastname
            </td>
        </tr>
    </table>
    <h2>Courses Assigned</h2>
    <table class="table table-striped">
        <tr>
            <th>
                ID
            </th>
            <th>
                Course
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
        </tr>
        @foreach (var course in Model.CoursesAssigned)
        {
            <tr>
                <td>
                    @course.ID
                </td>
                <td>
                    @course.Title
                </td>
                <td>
                    @course.StartDate
                </td>
                <td>
                    @course.EndDate
                </td>
            </tr>
        }
    </table>
</section>